@font-face {
	font-family: "tahoma";
	src: url("tahoma.ttf")
}

body {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: main;
	overflow: auto;
	background-image: url(bg.jpg);
}

.bg {
    background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
	
.content {
	  position: absolute;
	  left: 0%; 
	  margin-top: 0px;
	  transform: translateX(0%);
	  width: 100%;
}

.time {
    font-family: tahoma;
    font-weight: normal;
    font-size: 48px;
    color: white;
}

.channel {
    width: 280px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 5px rgba(255,255,255,0.2);
	border-radius: 10px;
}

.channel:hover {
	border: solid 5px #28c537;
}

@media (max-width: 600px) {
    .channel {
        display: block;
        margin-left: 0px;
    }
}